
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
zbody {

    font-family: 'Poppins', sans-serif;
    color: white;

}
body {

  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
* {
    font-family: 'Poppins', sans-serif;
}
/* 
nav {
  display: block;
  width: 100%;
  height: 30px;
  background-color: black;
  border-radius: 10px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  position: fixed;
  z-index: 1;
  border: #A10000;
}
.navbar {
  overflow: hidden;
  background-color: black;
  height: 33px;
}
nav #titleshown {
  width: 83%;
  height: 100%;

  color: #f7f7f7;
  float: left;
  padding: 0 0 0 1em;
}

nav #buttons {
  float: right;
  width: 150px;
  height: 130%;
  line-height: 30px;
  background-color: #1C1C21;
  -webkit-app-region: no-drag;
}

nav #buttons #minimize,
nav #buttons #maximize,
nav #buttons #quit {
  float: left;
  height: 100%;
  width: 33%;
  text-align: center;
  color: #f7f7f7;
  cursor: default;
}

nav #buttons #minimize:hover {
  background-color: #1C1C21;
}
nav #buttons #maximize:hover {
  background-color: #1C1C21;
}
nav #buttons #quit:hover {
  background-color: #333333aa;    
} */

main {
  padding-top: 30px;
  overflow: auto;
  height: calc(100vh - 30px);
  position: absolute;
  top: 30px;
  left: 0;
  padding: 0;
  width: 100%;
}

button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

  button:focus {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes button {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

a  {
color: white;
text-decoration: none;
}

/* a {
  width: 220px;
  height: 5vh;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
a:focus {
width: 220px;
height: 50px;
border: none;
outline: none;
color: #fff;
background: #111;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
}
a:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
a:active {
  color: #000
}
a:active:after {
  background: transparent;
}
a:hover:before {
  opacity: 1;
}
a:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes a {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
} */

input {
  color: white;
  background: #252525;
  border: 10px;
  border-radius: 5px;
  height: 5vh;
}
input:focus {
  color: white;
  background: #252525;
  border: 10px;
  border-radius: 5px;
  height: 5vh;
}

input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

textarea {
  color: white;
  background: #252525;
  border: 10px;
  border-radius: 5px;

}
textarea:focus {
  color: white;
  background: #252525;
  border: 10px;
  border-radius: 5px;

}


textarea				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;

  border:none;
  border-bottom:1px solid #757575;
}
textarea:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
/* NAVIGATION */
#nav-body-ctrls{background-color:black; border: #A0A0A0; padding:1px;font-family: 'Poppins', sans-serif;
overflow: hidden;}
#nav-body-tabs{overflow: hidden; border: #A0A0A0; background:linear-gradient(white 100%white);height:20px;font-family: 'Poppins', sans-serif;}
#nav-body-views{flex:1}
.nav-icons{fill:#A0A0A0!important}
.nav-icons:hover{fill:#A0A0A0!important}
#nav-ctrls-back,#nav-ctrls-forward,#nav-ctrls-reload{height:30px;width:30px;margin-right:10px}
#nav-ctrls-url{box-shadow:0 0;border:0;border-radius:100px;height:38px!important;margin-left:8px;font-size:12pt;outline:none;padding-left:45px;color:#A0A0A0;background:url('data:image/'),linear-gradient(to right,#252525 35px,#fcfcfc);background-position:left;background-size:35px 100%;background-repeat:no-repeat;background-color:#252525}
#nav-ctrls-url:focus{color:#fcfcfc;box-shadow:0 0 5px #3d3d3d;}
#nav-tabs-add{margin:5px}
.nav-tabs-tab{height:40px; border-radius: 10px;}
.nav-tabs-tab.active{background:#252525; border: #A0A0A0;}
.nav-tabs-favicon{margin:6px}
.nav-tabs-title{padding-left:5px;font-style:normal;font-weight:700;color:#A0A0A0}
.nav-tabs-title:hover{color:#c2c2c2}
.nav-tabs-close{width:20px;height:20px;margin:6px;margin-left:2px}
.nav-tabs-close:hover{fill:#A0A0A0!important}