body {

    font-family: 'Poppins', sans-serif;
    color: white;
}
* {
    font-family: 'Poppins', sans-serif;
}
a {
  color: white;
}

/* NAVIGATION */
#nav-body-ctrls{background-color:#D8D1CF; border: #A0A0A0; padding:1px;font-family: 'Poppins', sans-serif;
  overflow: hidden;}
  #nav-body-tabs{overflow: hidden; border: #A0A0A0; background:linear-gradient(black 100%black    );height:43px;font-family: 'Poppins', sans-serif;}
  #nav-body-views{flex:1}
  .nav-icons{fill:#A0A0A0!important}
  .nav-icons:hover{fill:#A0A0A0!important}
  #nav-ctrls-back,#nav-ctrls-forward,#nav-ctrls-reload{height:30px;width:30px;margin-right:10px}
  #nav-ctrls-url{box-shadow:0 0;border:0;border-radius:10px;height:38px!important;margin-left:8px;font-size:12pt;outline:none;padding-left:45px;color:black   ;background:url('data:image/'),linear-gradient(to right,black 35px,black    );background-position:left;background-size:35px 100%;background-repeat:no-repeat;background-color:#fff}
  #nav-ctrls-url:focus{color:black;box-shadow:0 0 5px #3d3d3d;}
  #nav-tabs-add{margin:5px; color: white;} 
  .nav-tabs-tab{height:40px; border-radius: 10px;}
  .nav-tabs-tab.active{background: #D8D1CF; border:black;}
  .nav-tabs-favicon{margin:6px}
  .nav-tabs-title{padding-left:5px;font-style:normal;font-weight:700;color:#A0A0A0}
  .nav-tabs-title:hover{color:#c2c2c2}
  .nav-tabs-close{width:20px;height:20px;margin:6px;margin-left:2px}
  .nav-tabs-close:hover{fill:#A0A0A0!important}
  #driver{background: white; display: none;}
  .driver2{display: none;}