
* {

    color: white;



}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
body {
background: black;
    color: white;

}
.bodytab {
  background: #000000;  /* fallback for old browsers */

  
    color: white;


}
.darkmode--activated p, .darkmode--activated li {
    color: #000;
  }
   
  .button {
    isolation: isolate;
  }
   
  .darkmode--activated .logo {
    mix-blend-mode: difference;
  }
#controls{

  border-radius: 5px;
 background: rgb(32, 31, 31);
  text-align: center;
  line-height: 1;


    }
    button{
      /* background-color: rgba(105, 104, 104, 0.3); */
      border-radius: 5px;
      background: rgb(0, 0, 0); 
      text-align: center;
      line-height: 1;
      /* backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
     */
        }
        .buttonmono{
            background: rgb(32, 32, 32); 
          border-radius: 5px;
         
          text-align: center;
          line-height: 1;
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
        
            }
        .divblur{
            background: rgb(32, 32, 32); 
          border-radius: 5px;
         
          text-align: center;
          line-height: 1;

          
            }
            .tab{
                background: rgb(32, 32, 32); 
                border-radius: 5px;
              
                text-align: center;
                line-height: 1;
         
                }
            .divblur2{
                background: rgb(32, 32, 32); 
              border-radius: 30px;
             
              text-align: center;
              line-height: 1;
         
            
                }
                .buttonkit{
                    background: rgb(32, 32, 32); 
                  border-radius: 5px;
                 height: 5vh;
                  text-align: center;
                  line-height: 1;
                  
                
                    }     textarea{
                        background: rgb(32, 32, 32); 
                      border-radius: 5px;
                     height: 5vh;
                      text-align: center;
                      line-height: 1;
                 
                      color: white;
                    
                        }
                        .textareakit{
                            background: rgb(32, 32, 32); 
                          border-radius: 5px;
                         height: 5vh;
                          text-align: center;
                          line-height: 1;
                        
                          color: white;
                        
                            }
                     nav{
                        background: rgb(32, 32, 32); 
                      border-radius: 5px;
                     height: 10vh;
                      text-align: center;
                      line-height: 1;
                
                        }
            .containerbutton{
                background-color: rgba(19, 0, 0, 0.678);

        
            }
        .morebutton{
         
          border-radius: 5px;
       
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
        
            }

        #separator{
      background: #252525;
      
      }
      #location{
          border:black; color: white; background: rgb(0, 0, 0);  width: 80%; height: 4vh;  border-radius: 10px;font-family: 'Poppins', sans-serif; text-align: center; padding-left: 2%;
        
        }
        input {
            background: rgb(32, 32, 32); 
          border-radius: 10px;
         
          text-align: center;
          line-height: 1;

          border:black; color: white;  width: 80%; height: 4vh;  border-radius: 10px;font-family: 'Poppins', sans-serif; text-align: center; padding-left: 2%;
          text-decoration: none;
 
        }
        
        html,
        body {
          height: 100%;
          width: 100%;
        }
        
        body {
         
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        
        .container {
          align-items: center;
          display: flex;
          justify-content: center;
          height: 100%;
          width: 100%;
        }
     
       button {
            width: 220px;
            height: 50px;
            border: none;
            outline: none;
            color: #fff;
   
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
        }
        
          button:focus {
            width: 220px;
            height: 50px;
            border: none;
            outline: none;
            color: #fff;
 
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
          }
        button:before {
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left:-2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }
        
        button:active {
            color: #000
        }
        
        button:active:after {
            background: transparent;
        }
        
        button:hover:before {
            opacity: 1;
        }
        
        button:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;

            left: 0;
            top: 0;
            border-radius: 10px;
        } 
        
        @keyframes button {
            0% { background-position: 0 0; }
            50% { background-position: 400% 0; }
            100% { background-position: 0 0; }
        }
        #clock {
             color: white; height: 130px; width: 70%; font-size: 80px; border-radius: 50px;
        }
        
        #search {
            width: 40%; 
        }
        


        /* Style the tab */
        .tab {
          overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;
        }
        
        /* Style the buttons inside the tab */
        .tab button {
          background-color: inherit;
          float: left;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 17px;
        }
        
        /* Change background color of buttons on hover */
        .tab button:hover {
          background-color: #ddd;
        }
        
        /* Create an active/current tablink class */
        .tab button.active {
          background-color: #ccc;
        }
        
        /* Style the tab content */
        .tabcontent {
          display: none;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-top: none;
        }
       #megacontrol {
 background: black;

        }
        h1{
      color: white;
          }
          .containerbody{
            background: #000000;  /* fallback for old browsers */
     
                }
                