* {

  color: black;




}
#hrefa {
  color: black;
}
.fas fa-code-branch {
color: black;
}
.dropdown {
position: relative;
display: inline-block;
}
.btn{
color: rgb(0, 0, 0);
background: rgb(255, 255, 255);
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.dropdown:hover .dropdown-content {
display: block;
}
body {
/* background: #000000;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #434343, #000000); 
background: linear-gradient(to right, #434343, #303030);
  color: white;
border-color:   rgba(105, 104, 104, 0.3); */

/* filter: brightness(1%); */
background: #ffffff;
}
#clock {

color: rgb(0, 0, 0);
}
.bodytab {
background: rgb(255, 255, 255);

  color: rgb(0, 0, 0);
border-color:   rgb(0, 0, 0);


}
#tab-list::-webkit-scrollbar {

  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */

}
.darkmode--activated p, .darkmode--activated li {
  color: #000;
}
 
.button {
  isolation: isolate;
}
 
.darkmode--activated .logo {
  mix-blend-mode: difference;
}
#controls{
background-color: rgba(245, 245, 245);
border-radius: 5px;

text-align: center;
line-height: 1;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);

  }
  button{
    /* background-color: rgba(105, 104, 104, 0.3); */
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    text-align: center;
    line-height: 1;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
   */
      }
      .close {
        width: 1%;
        height: 1%;
      }
      .buttonmono{
        background-color: rgba(245, 245, 245);

        border-radius: 5px;
        font-family: 'Jost', sans-serif;
        text-align: center;
        line-height: 1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      
          }
      .divblur{
        background-color: rgb(245, 245, 245);

        border-radius: 5px;
       
        text-align: center;
        line-height: 1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      
        
          }
          td{

color: black;
              }
       
          .tab{
            background-color: rgba(245, 245, 245);

              border-radius: 5px;
            
              text-align: center;
              line-height: 1;
              backdrop-filter: blur(10px);
              -webkit-backdrop-filter: blur(10px);
          
            
              }
          .divblur2{
            background-color: rgba(245, 245, 245);

            border-radius: 30px;
           
            text-align: center;
            line-height: 1;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
          
              }
              .buttonkit{
                background-color: rgba(245, 245, 245);

                border-radius: 5px;
               height: 5vh;
                text-align: center;
                line-height: 1;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
              
                  }     textarea{
                    background-color: rgba(245, 245, 245);

                    border-radius: 5px;
                   height: 5vh;
                   font-family: 'Jost', sans-serif; 
                    text-align: center;
                    line-height: 1;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    color: rgb(0, 0, 0);
                  
                      }
                      .textareakit{
                        background-color: rgba(245, 245, 245);

                        border-radius: 5px;
                       height: 5vh;
                        text-align: center;
                        line-height: 1;
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                        color: rgb(0, 0, 0);
                      
                          }
                   nav{
                    /* background-color: rgba(105, 104, 104, 0.3); */
                    border-radius: 5px;
                   height: 10vh;
                    text-align: center;
                    line-height: 1;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                  
                      }
          .containerbutton{
            background-color: rgba(245, 245, 245);

       
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      
          }
      .morebutton{
       
        border-radius: 5px;
     
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      
          }

      #separator{
    background: #252525;
    
    }
    #location{
   color: black;  background: white;  width: 80%; height: 37px;  border-radius: 10px;     font-family: 'Jost', sans-serif; text-align: center; padding-left: 2%;
      
      }
      input {
        background-color: rgba(245, 245, 245);

        border-radius: 10px;
       color: rgb(0, 0, 0);
        text-align: center;
        line-height: 1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border:black; color: rgb(26, 26, 26);  width: 80%; height: 40px;  border-radius: 10px;
        font-family: 'Jost', sans-serif; text-align: center; padding-left: 2%;
        text-decoration: none;
        outline: none;

      }
      #input-search {
        font-family: 'Jost', sans-serif; text-align: center; padding-left: 2%;
        background-color: rgb(255, 255, 255);
       color: black;
    

      }
      .input-mono {
        font-family: 'Jost', sans-serif; text-align: center; 
       color: rgb(0, 0, 0);
    

      }
      li{
        /* background-color: rgba(117, 115, 115, 0.3); */
        border-radius: 10px;
       
        text-align: center;
        line-height: 1;
        /* backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); */
  color: rgb(0, 0, 0);  width: 10%; height: 2.8vh;  border-radius: 7px;    font-family: 'Jost', sans-serif; text-align: center; 
        text-decoration: none;

      }
      input:focus {
   
        
        color: rgb(0, 0, 0);

      }
    input:before {
        color: rgb(0, 0, 0);
        
        
    }
    
    input:active {
        color: rgb(0, 0, 0);
    }
    
  
      nav {
        display: block;
        width: 100%;
        height: 30px;

        -webkit-app-region: drag;
        -webkit-user-select: none;
        position: fixed;
        z-index: 1;
        border: #A10000;
      }
      .navbar {
        overflow: hidden;
  
        height: 33px;
      }
      nav #titleshown {
        width: 83%;
        height: 100%;
      
        color: #000000;
        float: left;
        padding: 0 0 0 1em;
      }
      
      nav #buttons {
        float: right;
        width: 150px;
        height: 130%;
        line-height: 30px;

        -webkit-app-region: no-drag;
      }
      
      nav #buttons #minimize,
      nav #buttons #maximize,
      nav #buttons #quit {
        float: left;
        height: 100%;
        width: 33%;
        text-align: center;
        color: #000000;
        cursor: default;
      }
      
      nav #buttons #minimize:hover {

      }
      nav #buttons #maximize:hover {

      }
      nav #buttons #quit:hover {

      }
      
      main {
        padding-top: 30px;
        overflow: auto;
        height: calc(100vh - 30px);
        position: absolute;
        top: 30px;
        left: 0;
        padding: 0;
        width: 100%;
      }
      ul{
     height: 3.8vh;

      }
      html,
      body {
        height: 100%;
        width: 100%;
      }
      
      body {
       
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      .container {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
   .close {
     width: 1%;
     height: 1%;
   }
     button {

       
          height: 50px;
          border: none;
          outline: none;
          color: rgb(0, 0, 0);

          cursor: pointer;
          position: relative;
          z-index: 0;
          border-radius: 10px;
      }
      .buttoncontrol {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: rgb(0, 0, 0);
        background-color: rgba(245, 245, 245);
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
    }
      
        button:focus {
   
          height: 50px;
          border: none;
          outline: none;
          color: rgb(0, 0, 0);
          background-color: rgba(245, 245, 245);

          cursor: pointer;
          position: relative;
          z-index: 0;
          border-radius: 10px;
        }
      button:before {
          content: '';
          background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
          position: absolute;
          top: -2px;
          left:-2px;
          background-size: 400%;
          
          z-index: -1;
          filter: blur(5px);
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          animation: glowing 20s linear infinite;
          opacity: 0;
          transition: opacity .3s ease-in-out;
          border-radius: 10px;
      }
      
      button:active {
          color: #000
      }
      
      button:active:after {
          background: transparent;
      }
      
      button:hover:before {
          opacity: 1;
      }
      
      button:after {
          z-index: -1;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;

          left: 0;
          top: 0;
          border-radius: 10px;
      } 
      .book {
  
        padding-left:22%; width: 75px; height: 10vh; border-radius: 20%;
     }
      @keyframes button {
          0% { background-position: 0 0; }
          50% { background-position: 400% 0; }
          100% { background-position: 0 0; }
      }
      #clock {
          background: #ffffff; font-size: 200%;
      }
      
      #search {
          width: 40%; 
      }
      


      /* Style the tab */
      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }
      
      /* Style the buttons inside the tab */
      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
      }
      
      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: #ddd;
      }
      
      /* Create an active/current tablink class */
      .tab button.active {
        background-color: #ccc;
      }
      
      /* Style the tab content */
      .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
      }
     #megacontrol {
     

      }

      h1{
    color: rgb(0, 0, 0);
        }
        .containerbody{
          background: #000000;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #434343, #303030); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              }
              
              #tabsecond {
                background-color: rgba(245, 245, 245);
              font-size: 15px;
              color: black;
                }              
              
                #tabname {
                  background-color: rgba(245, 245, 245);
                  color: black;
                  }              
/* 
                  #bodynew{
                    background-color: rgba(255, 255, 255, 0.3);
            
                    border-radius: 10px;
                   
                   
                    line-height: 1;
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    border:black; color: black;   border-radius: 10px;
                    font-family: 'Montserrat', sans-serif; 
                    text-decoration: none;
                    outline: none;
            
