* {
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:500px;

}

ul, ol {
    list-style:none;
}

.nav {
    width:900px; 
    margin:0 auto; 
}

.nav > li {
    float:right;
}

.nav li a {
    background-color:#D8D1CF;
    color:#000;
    text-decoration:none;
    padding:3px 50px;
    display:block;
}

.nav li a:hover {
    background-color:#AA9089
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:250px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
