nav {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #fff;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    position: fixed;
    z-index: 1;
    border: #A10000;
  }
  .navbar {
    overflow: hidden;
    background-color: #fff;
    height: 33px;
  }
  nav #titleshown {
    width: 83%;
    height: 100%;
  
    color: #f7f7f7;
    float: left;
    padding: 0 0 0 1em;
  }
  
  nav #buttons {
    float: right;
    width: 150px;
    height: 130%;
    line-height: 30px;
    background-color: #fff;
    -webkit-app-region: no-drag;
  }
  
  nav #buttons #minimize,
  nav #buttons #maximize,
  nav #buttons #quit {
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: #f7f7f7;
    cursor: default;
  }
  
  nav #buttons #minimize:hover {
    background-color: #333333aa;
  }
  nav #buttons #maximize:hover {
    background-color: #333333aa;
  }
  nav #buttons #quit:hover {
    background-color: #333333aa;    
  }
  
  main {
    padding-top: 30px;
    overflow: auto;
    height: calc(100vh - 30px);
    position: absolute;
    top: 30px;
    left: 0;
    padding: 0;
    width: 100%;
  }
