nav {
  display: block;
  width: 100%;
  height: 30px;
  background-color:#1c1c1c;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  position: fixed;
  z-index: 1;
  border: #A10000;
}
.navbar {
  overflow: hidden;
  background-color: #1c1c1c;
  height: 33px;
}
nav #titleshown {
  width: 83%;
  height: 100%;

  color: #f7f7f7;
  float: left;
  padding: 0 0 0 1em;
}

nav #buttons {
  float: right;
  width: 150px;
  height: 130%;
  line-height: 30px;
  background-color:#191724;
  -webkit-app-region: no-drag;
}

nav #buttons #minimize,
nav #buttons #maximize,
nav #buttons #quit {
  float: left;
  height: 100%;
  width: 33%;
  text-align: center;
  color: #f7f7f7;
  cursor: default;
}

nav #buttons #minimize:hover {
  background-color: #333333aa;
}
nav #buttons #maximize:hover {
  background-color: #333333aa;
}
nav #buttons #quit:hover {
  background-color: #333333aa;    
}

main {
  padding-top: 30px;
  overflow: auto;
  height: calc(100vh - 30px);
  position: absolute;
  top: 30px;
  left: 0;
  padding: 0;
  width: 100%;
}

* {

    font-family: 'Poppins', sans-serif;
  
}
body {
    overflow: hidden;
    background: #191724;
}
@media screen and (min-width: 600px) {
    #cambio button {
    top: 25;
    }
  }
  body {
     
  text-align: center;
   

  overflow: hidden;
  
  }
  * {
  
  text-align: center;
  font-family: 'Poppins', sans-serif;

  }
  #flotante::-webkit-scrollbar {

    width: 8px;     /* Tamaño del scroll en vertical */

    height: 8px;    /* Tamaño del scroll en horizontal */

    display: none;  /* Ocultar scroll */

}
  
  main {
    padding-top: 30px;
    overflow: auto;
    height: calc(100vh - 30px);
    position: absolute;
    top: 30px;
    left: 0;
    padding: 0;
    width: 100%;
  }
  .contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .contenedor::-webkit-scrollbar:vertical {
    width:10px;
  }
  
  .contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  } 
  
  .contenedor::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  .contenedor::-webkit-scrollbar-thumb {
    background-color: #1D1D1D;
    border-radius: 20px;
    border: 2px solid #1D1D1D;
  }
  
  .contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
  }
  .sep {
    background: #000000;
  }
  .border-right {
    background: black;
  }
  .sidebar-heading{
  background: black; 
  border: black; 
  color:white;
  }
  .listcore{
  background: black; 
  background-color: black;
  border: black; 
  color:black;
  }
  .reloj {
  background: #333; border: #333; height: 20px;
  color: white;
  }
