* {

  font-family: 'Ubuntu', sans-serif;

}
#flotante::-webkit-scrollbar {

  width: 8px;     /* Tamaño del scroll en vertical */

  height: 8px;    /* Tamaño del scroll en horizontal */

  display: none;  /* Ocultar scroll */

}
body {
  overflow: hidden;
  background: white;
}
@media screen and (min-width: 600px) {
  #cambio button {
  top: 25;
  }
}
body {
   
text-align: center;
 

overflow: hidden;

}
* {

text-align: center;
font-family: 'Ubuntu', sans-serif;

}


@media all and (max-width: 1920px){
  #nav-body-views{
   width:100%; 
  height: 88vh;
  }
  }
  
  @media all and (max-width: 1600px){
    #nav-body-views{
     width:100%; 
    height: 86vh;
    }
    }
  @media all and (max-width: 1440px){
    #nav-body-views{
     width:100%; 
    height: 86vh;
    }
    }
  @media all and (max-width: 1920px){
    #devtools{
     width:100%; 
    height: 87vh;
    }
    }
    @media all and (max-width: 1366px){
      #devtools{
       width:100%; 
      height: 83vh;
      }
      }
      @media all and (max-width: 1920px){
        #devtools2{
         width:100%; 
        height: 83vh;
        }
        }
        @media all and (max-width: 1600px){
          #devtools2{
           width:100%; 
          height: 79.5vh;
          }
          }
  @media all and (max-width: 1920px){
    #flotante{
     width:50%; 
    height: 88vh;
    float: right;
  
    }
    }
    @media all and (max-width: 1366px){
      #flotante{
       width:50%; 
      height: 83vh;
      float: right;
     
      }
      }
      @media all and (max-width: 1440px){
        #flotante{
         width:50%; 
        height: 85vh;
        float: right;
     
        }
        }
        @media all and (max-width: 1600px){
          #flotante{
           width:50%; 
          height: 85vh;
          float: right;
       
          }
          }
      @media all and (max-width: 1920px){
        #flotante2{
         width:50%; 
        height: 88vh;
        float: right;
      
        }
        }
        @media all and (max-width: 1366px){
          #flotante2{
           width:50%; 
          height: 83vh;
          float: right;
        
          }
          }
          @media all and (max-width: 1440px){
            #flotante2{
             width:50%; 
            height: 85vh;
            float: right;
          
            }
            }
            @media all and (max-width: 1600px){
              #flotante2{
               width:50%; 
              height: 85vh;
              float: right;
            
              }
              }
      
  

  @media all and (max-width: 1366px){
    #nav-body-views{
       width:100%; 
    height: 83vh;
    }
    }
